#header{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 90px;
    margin-right: 90px;
}

#logo{
    width: 50px;
}

a{
    border-radius: 100px;
    padding: 10px;
    border: 0.2px solid #171A24;

    background: transparent;

    cursor: pointer;

    text-align: center;

}
#bttwin{
    display: flex;
    justify-content: space-between;
}
a:hover{
    background: #000;
    color: #fff;

    transition: 0.7s;
}

#win{
    width: 15px;
    margin-right:5px;
    padding: 2px;

}
