#header{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 90px;
    margin-right: 90px;
}

#logo{
    width: 50px;
}

#bttwin{
    margin-left: 7px;
    border-radius: 100px;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    background: #000;

    cursor: pointer;

    text-align: center;

}
#bttwin{
    display: flex;
    justify-content: space-between;
}
#bttwin:hover{
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    color: #fff;    
}
#bttwin::backdrop{
    transition: 0.7s;
}

#win{
    width: 15px;
    margin-right:5px;
    padding: 2px;

}
